<nb-flip-card
  [flipped]="flipped"
  [showToggleButton]="false"
  (mouseover)="onMouseOver()"
  (mouseout)="onMouseOut()"
>
  <nb-card-front>
    <nb-card class="skill-card">
      <nb-card-body class="front-panel">
        <div>
          <div class="front-panel-icon"><i class="tech-icon fa-4x beat" [ngClass]="icon"></i></div>
          <p class="tech-title">{{ tech }}</p>  
        </div>
        
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card class="skill-card">
      <nb-card-body class="back-panel">
        <!-- <p *ngFor="let item of techStack">{{ item }}</p> -->
        <div class="row d-flex justify-content-center align-items-center p-2">
          <img class="image-icon col-md-6" *ngFor="let img of imgStack" [src]="img" alt="">
          <i class="fa-5x col-md-6 font-icon" *ngFor="let icon of iconStack" [ngClass]="icon"></i>
          <!-- <p class="content col-md-6" *ngFor="let item of techStack">{{ item }}</p>  -->
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
