::ng-deep .nb-theme-default nb-card{
    margin:1rem 0rem !important;
    line-height: 9.25rem !important;
    min-height: 29vh !important;
    border: 0.0625rem solid transparent;
    border-radius: 1.25rem !important;
}

::ng-deep .nb-theme-default nb-card-body{
    border-radius: 1rem !important;
}

.front-panel{
    /* background-color: #273744;
    color: white; */
    background: linear-gradient(2deg, #4c3202, #c98201);
    color: white;
    border: 0.15rem solid white;
}

.tech-title{
    color: white;
    font-size: 1rem;
}

.back-panel{
    /* background-color: orange;
    color: #273744; */
    background-color: white;
    color: #273744;
}

.back-card{
    border: none !important;
}

.content{
    font-weight: 600;
}

.image-icon{
    width: 6rem;
    height: 4.3rem;
    margin-bottom: 1rem;
}

.font-icon{
    width: 6rem;
    color:#2A4154;
}

.front-panel-icon{
    align-items: center;
    height: 18vh;
    display: flex;
    justify-content: center;
}
