<nb-layout>
  <nb-layout-header class="header" fixed>
    <div class="row w-100">
      <div class="col-md-6 col-12 title">AkCodex</div>
      <div class="col-md-6 col-12 d-flex justify-content-between">
        <a class="text-decoration-none nav-link" [routerLink]="['/']" [queryParams]="{section: 'about'}">About</a>
        <a class="text-decoration-none nav-link" [routerLink]="['/']" [queryParams]="{section: 'skills'}" >Skills</a>
        <a class="text-decoration-none nav-link" [routerLink]="['/']" [queryParams]="{section: 'experience'}" >Experience</a>
        <a class="text-decoration-none nav-link" [routerLink]="['/']" [queryParams]="{section: 'project'}" >Projects</a>
        <a class="text-decoration-none nav-link" [routerLink]="['/']" [queryParams]="{section: 'contact'}" >Contact</a>
      </div>
    </div>
    
  </nb-layout-header>
  
  <nb-layout-column class="layout">
    <router-outlet />
  </nb-layout-column>

  <nb-layout-footer fixed><i class="d-flex align-items-center px-1 far fa-regular fa-copyright"></i> 2024 Akhil Shashi</nb-layout-footer>
</nb-layout>