<div class="d-flex w-100">
  <div class="col-md-7 box-space" [ngClass]="{'col-9': windowWidth > 576, 'col-10': windowWidth <= 576}">
    <div class="col-10 d-flex justify-content-center box-space-2">
        <div class="px-4 quote-container">
          <p class="d-flex justify-content-center align-items-center quote"><i class="fa-solid fa-angle-left caret blink"></i>Coding &nbsp;</p>
          <p class="d-flex justify-content-center align-items-center quote the-word">the</p>
          <p class="d-flex justify-content-center align-items-center quote txt-future">FUTURE/<i class="fa-solid fa-angle-right caret blink"></i></p>
        </div>
        
    </div>
    <div class="col-1 arrow-space-2"></div>
  </div>
  <div class="col-1 arrow-space"></div>
  <div class="col-2 border-space">
    <div class="up-border"></div>
    <div class="down-border"></div>
  </div>
</div>
