$primary-color: #333;
$secondary-color: #fff;

$orange: #ffa500; 
$dark-gray: #333333;
$light-gray: #f0f0f0;

.arrow-space,
.box-space {
  background-color: $orange;
  height: 88vh;
  box-shadow:3rem -5rem 9rem 1rem rgb(0, 0, 0);
  z-index: 2;
}

.arrow-space {
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0 0);
  background-color: #905e02;
}

.box-space {
  display: flex;
  align-items: center;
  position: relative;
}

.border-space{
  height: 88vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  left: 45vw;
  z-index: 2;
}

.up-border,.down-border{
  background:linear-gradient(45deg, #905e03, #d58b03, orange);
  height: 7vh;
}

.up-border{
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.down-border{
  clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
}

.arrow-space-2,
.box-space-2 {
  background-color: rgb(255, 123, 0);
  height: 58vh;
}

.box-space-2 {
  background: linear-gradient(67deg, orange, rgb(255 120 0 / 50%));
  box-shadow: 3rem 3rem 2rem 1rem #894401;
  align-items: center;
  flex-direction: column;
}

.arrow-space-2 {
  clip-path: polygon(0 0, 100% 50%, 0 100%, 0 0);
  background: rgb(255 125 0);
}

.quote-space {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote {
  color: white;
  font-size: 3.5rem;
  text-wrap: wrap;
  margin: 1rem 0;
  font-family: monospace;
  font-weight: 900;
  width: 100%;
}

.the-word {
  font-size: 3rem;
}

.caret{
  margin: 1.1rem 0;
}

.quote-container{
  background: #000000cc;
  width: inherit;
  border-radius: 0.5rem;
}

@media (max-width: 576px) {
  .border-space {
    display: none !important;
  }
}

@media (max-width: 1342px) {
  .quote{
    font-size: 2rem ;
  }
  .the-word{
    font-size: 1.5rem ;
  }
}