@layer reset, primeng;

@layer reset {

    card{
        background-color: red !important;
    }

    ::ng-deep {
        .p-timeline-event-opposite{
            flex: 0;
        }

        .p-timeline-event-connector{
            height: 16vh !important;
        }

        .p-timeline-event-content{
            color:white;
            font-weight: 500;
        }

        .p-timeline .p-timeline-event-marker{
            border: 2px solid #263744;
            background-color: #263744;
        }

        .p-timeline .p-timeline-event-connector{
            background-color: #263744;
        }
    }
}