/* You can add global styles to this file, and also import other style files */
@keyframes shake {
    0% { transform: translateX(0); }
    10%, 90% { transform: translateX(-1px); }
    20%, 80% { transform: translateX(2px); }
    30%, 50%, 70% { transform: translateX(-4px); }
    40%, 60% { transform: translateX(4px); }
  }
  
.fa-shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-15px);}
    60% {transform: translateY(-15px);}
}
  
.fa-bounce {
    animation: bounce 2s infinite;
}

@keyframes vibrate {
    0%, 100% { transform: translateX(0) rotate(0deg); }
    10%, 30%, 50%, 70%, 90% {  transform: translateX(10px) rotate(-5deg); }
    20%, 40%, 60%, 80% { transform: translateX(-10px) rotate(5deg);}
}
  
.fa-vibrate {
    display: inline-block;
    animation: vibrate 0.8s ease-in-out infinite;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 2s ease-in-out forwards infinite;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}
  
.blink {
    animation: blink 1s linear infinite;
}

@keyframes beat {
    0%, 100% { transform: scale(1); }
    25% { transform: scale(1.1); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
}
  
.beat {
    animation: beat 1.5s ease-in-out infinite;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%); /* Start off-screen to the left */
      opacity: 0; /* Start faded out */
    }
    100% {
      transform: translateX(0); /* End at original position */
      opacity: 1; /* Fully visible */
    }
}
  
.slide-in-left {
    animation: slideInFromLeft 1s ease-out forwards; /* Adjust timing to your liking */
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%); /* Start off-screen to the left */
      opacity: 0; /* Start faded out */
    }
    100% {
      transform: translateX(0); /* End at original position */
      opacity: 1; /* Fully visible */
    }
}
  
.slide-in-right {
    animation: slideInFromRight 1s ease-out forwards; /* Adjust timing to your liking */
}

@keyframes spinIn {
    from {
      transform: rotate(0deg) scale(0);
      opacity: 0;
    }
    to {
      transform: rotate(360deg) scale(1);
      opacity: 1;
    }
}

.spin-in-element {
    animation: spinIn 1s ease-in-out forwards;
}

.animation{
    opacity: 0;
}