// Variables for colors or fonts can be defined here
$primary-color: #333;
$secondary-color: #fff;

$orange: #ffa500; 
$dark-gray: #333333;
$light-gray: #f0f0f0;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

section {
  min-height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    color: $secondary-color;
  }
}

.section-title{
  font-size: 2rem;
  margin: 3rem 0rem 2rem 0rem;
  font-weight: 600;
}

#home {
  // background-color: $dark-gray;
  display: flex;
  justify-content: left;
}

#about {
  background-color: white;
  // background-color: #273744;
  // background-image: url('../../assets/images/programmer.jpg');
}

#portfolio {
  background-color: #c98201;
  // background-image: url('../../assets/images/scooty.png');
}

#contact {
  background-color: #273744;
}


//---- home section : left half porperties

.bubble-wrap{
  position: absolute;
}


// .arrow-space,
// .box-space {
//   background-color: $orange;
//   height: 88vh;
//   box-shadow:3rem -5rem 9rem 1rem rgb(0, 0, 0);
// }

// .arrow-space {
//   width: 5vw;
//   clip-path: polygon(0 0, 100% 50%, 0 100%, 0 0);
//   background-color: #905e02;
// }

// .box-space {
//   display: flex;
//   width: 39vw;
//   align-items: center;
//   position: relative;
// }

// .border-space{
//   height: 88vh;
//   width: 12vw;
//   position: absolute;
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   left: 45vw;
// }

// .up-border,.down-border{
//   background:linear-gradient(45deg, #905e03, #d58b03, orange);
//   height: 7vh;
// }

// .up-border{
//   clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
// }

// .down-border{
//   clip-path: polygon(20% 0, 80% 0, 100% 100%, 0 100%);
// }

// .arrow-space-2,
// .box-space-2 {
//   background-color: rgb(255, 123, 0);
//   height: 58vh;
// }

// .box-space-2 {
//   width: 31vw;
//   background: linear-gradient(67deg, orange, rgb(255 120 0 / 50%));
//   box-shadow: 3rem 3rem 2rem 1rem #894401;
// }

// .arrow-space-2 {
//   width: 4vw;
//   clip-path: polygon(0 0, 100% 50%, 0 100%, 0 0);
//   background: rgb(255 125 0);
// }

// .quote-space {
//   position: absolute;
//   z-index: 1;
//   width: 33vw;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
// }

// .quote {
//   color: black;
//   font-size: 4.5rem;
//   text-wrap: wrap;
//   margin: 1rem 0;
//   font-family: monospace;
//   font-weight: 900;
// }

// .the-word {
//   font-size: 3rem;
// }

.intro {
  // position: absolute;
  // left: 61vw;
  // width: 33vw;
  z-index: 2;
}

.title{
  color:white;
}

//---- skills section : panel settings

.flip-card{
  margin: 0 3rem;
}

.pie-chart{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-left{
  animation: 6s slidein;
}

.skill-section-title{
  color: #c98201;
}

//----- experience section
.exp-img{
  border-radius: 22rem;
}
