// Variables for colors or fonts can be defined here
$primary-color: #333;
$secondary-color: #fff;

$orange: #ffa500; 
$dark-gray: #333333;
$light-gray: #f0f0f0;

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}

section {
  min-height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    color: $secondary-color;
  }
}

.section-title{
  font-size: 2rem;
  margin: 3rem 0rem 1rem 0rem;
  font-weight: 400;
}

#home {
  // background-color: $dark-gray;
  display: flex;
  justify-content: left;
}

#about {
  background-color: white;
  // background-color: #273744;
  // background-image: url('../../assets/images/programmer.jpg');
}

#experience {
  background-color: #273744;
  // background-image: url('../../assets/images/scooty.png');
}

#project {
  background-color: white;
}

#contact{
  background-color: #c98201;
}


//---- home section : left half porperties

.bubble-wrap{
  position: absolute;
}

.intro {
  // position: absolute;
  // left: 61vw;
  // width: 33vw;
  z-index: 2;
}

.title{
  color:white;
}

//---- skills section : panel settings

.flip-card{
  margin: 0 3rem;
}

.pie-chart{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-left{
  animation: 6s slidein;
}

.skill-section-title{
  color: #c98201;
}

//----- experience section
.exp-img{
  border-radius: 30rem;
  z-index: 1;
}

.exp-sm-img{
  height: 40vh !important;
}

.exp-lg-img{
  height: 56vh !important;
}

.right-stepper{
  transform: scaleX(-1);
}

::ng-deep .right-stepper .header {
  .label-index,.label{
    transform: scaleX(-1);
  }
}

.timeline{
  z-index: 2;
}

.timeline-header{
  color: white;
  font-size: 1.4em;
}

.timeline-left{
  text-align: left;
}
.timeline-right{
  text-align: right;
}

.portfolio-container{
  width: -webkit-fill-available;
}

.journey-title{
  color: white;
}

.quote{
  color: white;
  line-height: 2rem;

  em{
    font-weight: 500;
  }
}

.project-desc{
  padding-top:1rem;
}