<section id="about" #about>
  <div class="row w-100 d-flex">
    <div class="col-md-8 col-12">
      <app-into-panel class="d-flex"></app-into-panel>
    </div>
    <div
      class="col-md-4 col-12 px-5 d-flex justify-content-end align-items-center"
    >
      <div class="intro">
        <app-profile [hover]="false"></app-profile>
      </div>
    </div>
    <app-bubbles class="bubble-wrap"></app-bubbles>
  </div>
</section>
<section id="skills" #skills>
  <div
    class="d-flex flex-column justify-content-center align-items-center w-100"
    [ngClass]="{'px-5': windowWidth > 768, 'px-1': windowWidth <= 768 }"
  >
    <div
      class="row col-md-12 d-flex justify-content-left section-title skill-section-title"
      [ngClass]="{ 'px-5': windowWidth < 768 }"
    >
      My Skills
    </div>
    <div class="row d-flex w-100 justify-content-center">
      <div class="col-md-4" #leftSkills data-animation="slideInFromLeft">
        <img class="w-100 h-100" src="assets/images/checkout.jpg" />
      </div>

      <div
        class="col-md-4 animation"
        #rightSkills
        data-animation="slideInFromRight"
      >
        <app-skill-panel
          class=""
          *ngFor="let tech of techStack1"
          [flipped]="false"
          [tech]="tech.title"
          [icon]="tech.icon"
          [techStack]="tech.allTech"
          [iconStack]="tech.allFontIcon"
          [imgStack]="tech.allImgIcon"
        ></app-skill-panel>
      </div>
      <div
        class="col-md-4 animation"
        #rightSkills
        data-animation="slideInFromRight"
      >
        <app-skill-panel
          class=""
          *ngFor="let tech of techStack2"
          [flipped]="false"
          [tech]="tech.title"
          [icon]="tech.icon"
          [techStack]="tech.allTech"
          [iconStack]="tech.allFontIcon"
          [imgStack]="tech.allImgIcon"
        ></app-skill-panel>
      </div>
    </div>
  </div>
</section>
<section id="experience" #experience>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div
      class="row col-md-12 d-flex px-5 justify-content-left section-title journey-title"
    >
      My Journey so far...
    </div>
    <div class="row w-100 d-flex justify-content-center">
      <div
        class="p-5 col-md-4 col-12 timeline animation"
        #leftSkills
        data-animation="slideInFromLeft"
      >
        <p class="px-4 timeline-header timeline-left">Experiences</p>
        <app-timeline [align]="'left'" [data]="workExperience"></app-timeline>
      </div>
      <div
        class="p-5 col-md-4 col-12 d-flex justify-content-evenly flex-column align-items-center"
      >
        <img
          class="exp-img animation"
          #spinInImg
          data-animation="spinIn"
          [ngClass]="{
            'exp-lg-img': windowWidth > 1024,
            'exp-sm-img': windowWidth <= 1024
          }"
          src="assets/images/superhero.jpg"
        />
        <p #quote data-animation="slideInFromUp" class="py-4 quote animation">
          <strong>My actual power</strong> <br />
          <em>I don't use debuggers. I stare down until the code confesses!</em>
        </p>
      </div>
      <div
        class="p-5 col-md-4 col-12 d-flex justify-content-evenly flex-column animation"
        #rightSkills
        data-animation="slideInFromRight"
      >
        <div class="py-2">
          <p class="px-4 timeline-header timeline-right">Education</p>
          <app-timeline [align]="'right'" [data]="academics"></app-timeline>
        </div>
        <div class="py-2">
          <p class="px-4 timeline-header timeline-right">Internship</p>
          <app-timeline [align]="'right'" [data]="internship"></app-timeline>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="project" #project>
  <div
    class="d-flex flex-column justify-content-center align-items-center animation"
    #projectCard
    data-animation="flipIn"
  >
    <div class="row col-md-12 d-flex px-5 justify-content-left section-title">
      Project Highlights
    </div>
    <div class="row w-100 col-md-12 px-5 d-flex justify-content-center project-desc">
      {{ projectSectionDesc }}
    </div>
    <div
      class="row w-100 d-flex px-5 justify-content-evenly align-items-center flex-wrap"
    >
      <app-project-card
        class="col-md-4 py-5"
        *ngFor="let data of projectData"
        [header]="data.header"
        [img]="data.img"
        [techStack]="data.techStack"
        [description]="data.description"
        [videoId]="data.videoId"
        [github]="data.github"
      ></app-project-card>
    </div>
  </div>
</section>
<section id="contact" #contact>
  <div class="row w-100 py-4">
    <div class="py-3 col-md-6 d-flex justify-content-center align-items-center">
      <img
        class="exp-img animation"
        #spinInImg
        data-animation="spinIn"
        [ngClass]="{
          'exp-lg-img': windowWidth > 1024,
          'exp-sm-img': windowWidth <= 1024
        }"
        src="assets/images/callme.jpg"
      />
    </div>
    <div
      class="px-5 col-md-6 d-flex justify-content-center align-items-center flex-column animation"
      #contactContent
      data-animation="slideInFromRight"
    >
      <div class="row py-3 px-5">
        <h1>{{ contactheader }}</h1>
        <p class="contact-desc">{{ contactDesc }}</p>
      </div>
      <div class="row py-3 px-5">
        <div
          *ngFor="let item of contactDetails"
          class="d-flex justify-content-between py-1"
        >
          <i
            class="fa-3x font-icon contact-icon col-4"
            [ngClass]="item.icon"
          ></i>
          <a
            class="d-flex align-items-center contact-text text-decoration-none col-8"
            [href]="item.url"
            >{{ item.label }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<p-scrollTop
  target="window"
  styleClass="custom-scrolltop"
  [threshold]="100"
  icon="pi pi-arrow-up"
></p-scrollTop>
