<section id="home">
  <div class="row d-flex">
    <div class="col-md-8 col-12">
      <app-into-panel class="d-flex"></app-into-panel>
    </div>
    <div class="col-md-4 col-12 px-5 d-flex justify-content-end align-items-center">
      <div class="intro">
        <app-profile [hover]="false"></app-profile>
      </div>
    </div>
    <app-bubbles class="bubble-wrap"></app-bubbles>
  </div>
</section>
<section id="about">
  <div class="px-5">
    <div class="row col-md-12 d-flex justify-content-center section-title skill-section-title">
      My Skills
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-4" #leftSkills data-animation="slideInFromLeft">
        <img class="w-100 h-100" src="../../assets/images/checkout.jpg">
      </div>
      
      <div class="col-md-4 animation" #rightSkills data-animation="slideInFromRight">
        <app-skill-panel
          class="flip-card"
          *ngFor="let tech of techStack1"
          [flipped]="false"
          [tech]="tech.title"
          [icon]="tech.icon"
          [techStack]="tech.allTech"
          [iconStack]="tech.allFontIcon"
          [imgStack]="tech.allImgIcon"
        ></app-skill-panel>
      </div>
      <div class="col-md-4 animation" #rightSkills data-animation="slideInFromRight">
        <app-skill-panel
          class="flip-card"
          *ngFor="let tech of techStack2"
          [flipped]="false"
          [tech]="tech.title"
          [icon]="tech.icon"
          [techStack]="tech.allTech"
          [iconStack]="tech.allFontIcon"
          [imgStack]="tech.allImgIcon"
        ></app-skill-panel>
      </div>
    </div>
  </div>
</section>
<section id="portfolio">
  <div class="px-5">
    <!-- <div class="row col-md-12 d-flex justify-content-center section-title">
      My Journey
    </div> -->
    <div class="row d-flex justify-content-center">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <img class="w-100 h-100 exp-img" src="../../assets/images/superhero.jpg">
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>

</section>
<section id="contact">
  
  
</section>
